<!DOCTYPE html>
<htmml lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name=""viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up - TypeTrek</title>
        <link rel="stylesheet" href="../static/styles/sign_up_login.css">
    </head>
    <body>
        <div class="container">
            <div class="logo">
                <img src="../static/images/logo.png" alt="TypeTrek Logo">
            </div>
            <div class="signup-form">
                <form action="/register" method="post">
                    <h2>Sign Up</h2>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <div class="form-group">
                        <label for="confirm-password">Confirm Password</label>
                        <input type="password" id="confirm-password" name="confirm_password" required>
                    </div>
                    <div id="password-error" class="error-message"></div>
                    <div id="success-message" class="success-message"></div>
                    <div class="form-buttons">
                        <button type="submit">Register</button>
                        <a href="login.html" class="login-link">Not New? Log in</a>
                    </div>
                </form>
            </div>
        </div>

        <script>
            document.querySelector('form').addEventListener('submit', function(event) {
                event.preventDefault();
                var password = document.getElementById('password').value;
                var confirmPassword = document.getElementById('confirm-password').value;
                if (password !== confirmPassword) {
                    document.getElementById('password-error').textContent = 'Passwords do not match';
                } else {
                    document.getElementById('success-message').textContent = 'Account created successfully, redirecting to login...';
                    document.getElementById('success-message').style.display = 'block';
                    setTimeout(function() {
                        window.location.href = 'login.html';
                    }, 2000);
                }
            });
        </script>
    </body>
</htmml>
